<%- include('partials/header') -%>
<%- include('partials/headerbody') -%>

<div class="container min-w-full">
  <div class="md:max-w-6xl xl:w-3/5 lg:w-3/4 md:w-11/12 sm:mx-auto md:grid md:grid-cols-2 md:block py-6 w-full flex flex-col items-center gap-4 w-3/4 mx-auto md:items-start md:mt-5">
    <div class="">
      <h2 class="text-xl uppercase tracking-wider text-[#163530] font-bold font-[comfortaa]"><%= post.title %></h2>
      <img class="img-fluid mb-5" src="<%= post.image%>" />
      <div class="w-full flex flex-col text-center m-auto bg-zinc-200 capitalize tracking-wider">
        <div class="flex flex-row justify-around border-b-4 border-[#E9F1EF] w-full">
          <span class="form-label p-2 border flex-grow basis-0 border-white">exercise</span>
          <span class="form-label p-2 border shrink basis-24 border-white">sets</span>
          <span class="form-label p-2 border shrink basis-24 border-white">reps</span>
        </div>
        <div class="flex flex-row justify-around">
          <span class="form-label p-2 border flex-grow basis-0 border-white"><%= post.exercise1 %></span>
          <span class="form-label p-2 border shrink basis-24 border-white"><%= post.sets1 %></span>
          <span class="form-label p-2 border shrink basis-24 border-white"><%= post.reps1 %></span>
        </div>
        <div class="flex flex-row justify-around">
          <span class="form-label p-2 border flex-grow basis-0 border-white"><%= post.exercise2 %></span>
          <span class="form-label p-2 border shrink basis-24 border-white"><%= post.sets2 %></span>
          <span class="form-label p-2 border shrink basis-24 border-white"><%= post.reps2 %></span>
        </div>
        <div class="flex flex-row justify-around">
          <span class="form-label p-2 border flex-grow basis-0 border-white"><%= post.exercise3 %></span>
          <span class="form-label p-2 border shrink basis-24 border-white"><%= post.sets3 %></span>
          <span class="form-label p-2 border shrink basis-24 border-white"><%= post.reps3 %></span>
        </div>
      </div>

      <div class="">
        <% if(post.user.id === user){ %>
          <form
            action="/post/deletePost/<%=post._id%>?_method=DELETE"
            method="POST"
          >
            <button class="" type="submit">delete</button>
          </form>
        <% } %>
      </div>
    </div>
    <div class="md:flex-col md:flex md:justify-between">
      <div class="my-6">
        <a href="/userProfile/<%= post.user._id%>">
          <p class="text-[#60DBCC] tracking-wider font-semibold mb-3"><%= post.user.userName %></p>
        </a>
        <p><%= post.caption %></p>
    
      </div>
      <div class="justify-self-end">
        <ul class="block list-unstyled my-3">
          <% for(var i=0; i<comments.length; i++) {%>
            <li class="block my-3">
              <span class="tracking-wider font-bold "><%= comments[i].user.userName%></span>
              <span><%= comments[i].comment%></span>
              <span class="tracking-wider text-gray-400 block text-right text-sm pt-1"><%= comments[i].createdAt.toLocaleString("en-US") %></span>
            </li>
          <% } %>
          </ul>
          <div class="block mt-5">
            <p class="">
              <form
              method="POST"
              action="/post/likePost/<%= post._id%>?_method=PUT"
              class="inline"
            >
              <button class="" type="submit">
                <!-- one day: conditional for whether user.id is in the array of individuals that have liked said post -->
                <i class="fa-regular fa-heart"></i>
              </button>
            </form>  
  
              <%= post.likes %>
            </p>
          </div>  
        <form action="/comment/createComment/<%=post._id%>" method="POST">
          <div class="mb-6">
              <!-- <label for="comment" class="form-label py-4 flex-grow basis-0 border-whit text-[#60DBCC] tracking-wider font-semibold my-3e">@<%= userName %></label> -->
              <div class="grid grid-cols-5 gap-2 mt-2">
                <input type="text" class="col-span-4	bg-transparent form-control block w-full mx-auto text-center border-[#60DBCC] border-2" id="comment" name="comment">
                <button type="submit" class="px-1 uppercase border-2 border-[#163530] rounded-md tracking-wider bg-[#163530] text-white">POST</button>  
              </div>
          </div>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer') -%>
